[Desktop Entry]
Version=1.0
Type=Application
Name=Warlock (Web)
GenericName=Command Center Web Dashboard
Comment=Warlock web dashboard in Chromium
Exec=chromium --new-window --app=http://localhost:7777
Icon=warlock
Terminal=false
Categories=System;
StartupNotify=true
Keywords=warlock;dashboard;web
